node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
venv
Python_React/venv
venv/
.idea
Python_React/.idea
mysqlclient-1.4.6-cp39-cp39-win_amd64.whl
Python_React/mysqlclient-1.4.6-cp39-cp39-win_amd64.whl

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
